@import '../../../src/styles/styles';
.cardFooter {
  display: flex;
  color: $main-color;
  .previous {
    cursor: pointer;
    margin-right: auto;
    padding: 10px 20px;
    display: flex;
  }
  .next {
    cursor: pointer;
    margin-left: auto;
    padding: 10px 20px;
    display: flex;
  }
  span {
    padding: 0 10px;
  }
}
