@import '../../../src/styles/styles';

.block {
  border: 1px solid $main-color;
  background-color: $general-color;
  margin: 20px;
  border-radius: 4px;
  width: 500px;
  .form {
    margin: 20px;
    display: grid;
  }
}
