@import '../../../src/styles/styles';
.blockItem {
  background-color: $general-color;
  border-radius: 4px;
  margin: 20px;
  border: 1px solid $main-color;
  width: 400px;
  .block-information {
    margin: 0 20px;
    .location {
      display: flex;
      align-items: center;
      .locationOnIcon {
        color: $main-color;
      }
    }

  }
  .cardHeader {
    color: $main-color;
    margin: 20px
  }
}
